.titulo{
    text-align: center;
    margin-top: 5rem;
    
     
}


.subtitulo{
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    text-transform: none;
    margin-bottom: 2rem;
    color: var(--gray-400);
    text-align: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }
  
.card {
    display: block;
    width: 24rem;
    height: 28rem;
    border-radius: 0.3125rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    margin: 1rem;
    
  }
  
  .card:hover {
    transition: 0.7s;
    transition-timing-function: ease-in;
    transform: rotateY(180deg) scaleX(-1);
    cursor: pointer;
    perspective: 1000px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  }

.card:not(:hover) {
    transition: none;
  }
  
.card.is-flipping:hover {
    pointer-events: none;
}

.card-body {
    font-size: 1rem;
    line-height: 1.5;
}


.card-img{
    width: 100%;
    height: 21rem;
    border-bottom: 1px solid var(--gray-300);

    
    
}

.card-footer{
    text-align: center;
    margin-top: 0.875rem;
    
}
