.titulo{
    text-align: center;
    margin-top: 5rem;
    
     
}


.subtitulo{
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    text-transform: none;
    margin-bottom: 2rem;
    color: var(--gray-400);
    text-align: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }
  
.card {
    display: block;
    width: 350px;
    height: 420px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    margin: 30px;
  }
  
.card:hover {
    transform: translateY(-5px);
  }

.card:hover .card-body {
    background-image: url('../assets/secretariaAcademica2.png');
}
  
.card-title {
    margin-top: 0;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    background-color: #212529;
    color: #fff;
    text-align: center;
  }
  
.card-body {
    font-size: 16px;
    line-height: 1.5;
}


.card-img{
    width: 350px;
    height: 320px;
}

.card-footer{
    text-align: center;
    margin-top: 0.5rem;
}

