.titulo{
    text-align: center;
    margin-top: 5rem;
    
     
}


.subtitulo{
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    text-transform: none;
    margin-bottom: 2rem;
    color: #c30f06;
    text-align: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }
  
.card {
    display: block;
    width: 20rem;
    height: 28rem;
    border-radius: 0.3125rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    margin: 1rem;
    margin-left: 2rem;   
    
  }
  
  .card:hover {  
    cursor: pointer;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  }

.card:not(:hover) {
    transition: none;
  }
  
.card.is-flipping:hover {
    pointer-events: none;
}

.card-body {
    font-size: 1rem;
    line-height: 1.5;
}


.card-img{
    width: 100%;
    height: 21rem;
    border-bottom: 1px solid var(--gray-300);

    
    
}

.card-footer{
    text-align: center;
    margin-top: 0.875rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;  
   
}

@media screen and (max-width: 990px) {
  .card{
    width: auto;
  }
}
.container {
  display: flex;
  justify-content: center;
}

.btn {
  margin: 0 20px;
  width: 37.5rem;
  height: 3rem;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 450;
  line-height: 2.2;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: #c30f06;
  background: rgb(255,177,15);
  background: linear-gradient(90deg, rgba(255,177,15,1) 0%, rgba(255,194,36,1) 100%, rgba(232,118,0,1) 100%);
  text-decoration: none;
}

.btn-primary {
  color: #fff;
  background: rgb(255,177,15);
  background: linear-gradient(90deg, rgba(255,177,15,1) 0%, rgba(255,194,36,1) 100%, rgba(232,118,0,1) 100%);
  border-color: #007bff;
}

.btn:hover {
  color: #000000;
  background: rgb(255,177,15);
  background: linear-gradient(90deg, rgba(255,177,15,1) 0%, rgba(255,194,36,1) 100%, rgba(232,118,0,1) 100%);
}

.h5{
  padding: 0.1rem;
}

.p{
  text-align: center;
  margin-top: 1rem;
}