.titulo{
    text-align: center;
    margin-top: 5rem;
    
     
}

.subtitulo{
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    text-transform: none;
    margin-bottom: 2rem;
    color: #c30f06;
    text-align: center;
}

.container{
    justify-content: center;
}

.card {
    display:block;
    width: 60%;
    border-radius: 0.2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    margin-left: 20%;
  }
  
.card-body {
    font-size: 16px;
    line-height: 1.5;
}

.accordion {
    
    border-radius: 1rem;
}

.accordion__button {
    background-color: #f4f4f4;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: center;
    
}

.accordion__button:hover {
    background-color: var(--gray-300);
}

.accordion__button:focus {
    outline: transparent;
    background: var(--gray-400);
    border-radius: 0.2rem;
    box-shadow: 0 0 0 1px var(--gray-100);
}

.accordion__panel {
    padding: 20px;
    animation: fadein 0.35s ease-in;
    text-align: center;
}
