.footer{
    background: var(--gray-800);
    color: var(--white);
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    
}

.footer p{
    font-size: 0.875rem;
    
}