.img{
    justify-content: center;
    margin-bottom: 0.5rem;
    display: flex;
    margin: 0 auto;
    margin-top: 10rem;
}
@media screen and (max-width: 1500px) {
  .img {
    width: 60%;
  }
}
@media screen and (max-width: 950px) {
    .img {
      display: none;
    }
}