.titulo{
    text-align: center;
    margin-top: 5rem;
    
}    

.subtitulo{
    font-size: 1.5rem;
    font-weight: 400;
    font-style: italic;
    text-transform: none;
    margin-bottom: 2rem;
    color: #c30f06;
    text-align: center;
}

.img{
    width: calc(12rem + 12px);
    height: calc(12rem + 12px);
    border-radius: 50%;
    justify-content: center;
    margin-bottom: 0.5rem;
}

.li{
    justify-content: center;
}

