:root{
    --white: #fff;
    --gray-100: #e1e1e6;
    --gray-300: #c4c4cc;
    --gray-400: #8d8d99;
    --gray-600: #323238;
    --gray-700: #29292e;
    --gray-800: #202024;
    --gray-900: #121214;
  
    --green-300: #00B37E;
    --green-500: #00875f;
  
    --red-500: #f76a68;
  }
  
  :focus{
      outline:transparent;
      box-shadow: 0 0 0 2px var(--gray-700);
  }
  
  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  
  body{
      
    background: rgb(255,177,15);
    background: linear-gradient(90deg, rgba(255,177,15,1) 0%, rgba(255,194,36,1) 100%, rgba(232,118,0,1) 100%);
    color: #c30f06;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;

      
  }
  
  body, input, textarea, button{
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    font-weight: 400;
    font-size: 1rem;
  }

  


  